<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConnection" connectionString="Data Source=DESKTOP-PMJ80NN\SQLEXPRESS;Initial Catalog=music_lover;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!--<add name="DBConnection" connectionString="Data Source=DESKTOP-TJLQPJN\SQLEXPRESS;Initial Catalog=music_lover;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>